body{
  background-color: #2D3748;
  font-family: sans-serif;
  color: #FFF;
  position: relative;
}

.container{
  position: relative;
  margin: auto;
  max-width: 500px ;
  margin-top: 3em;
  border: 1px solid #1d2a35;
  border-radius: 0.8em;
  min-height: 300px;
}
.taskNo{
  text-align: center;
}
h1{
  text-align: center;
}

.todo-form{
  margin-inline: 2em;
  display: flex;
  justify-content: center;
  margin-block-start: 2em
}

.todo-form button{
  background: orangered;
  color: #FFF;
  width: 100px;
  height: 36px;
  margin-left: 1em;
  border-width: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 3px rgba(128, 128, 128,0.3);
}

.todo-form button:disabled{
  background-color: gray;
}

.todo-form button:hover{
  background-color: orange;
}

.todo-form input{
  width: 300px;
  color: #1d2a35;
}

.todo-list{
  margin-inline: 2.5em;
  margin-block: 2em;
  padding-left: 0px;
  width: 420px;
  position: relative;
}

.todo-element{
  list-style: none;
  background-color: rgba(255,255,255,0.2);
  height: 3em;
  height: 3em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  box-sizing: border-box;
  display: flex;
}

#error{
  margin-inline: 40px;
  display: flex;
  color: red;
  font-size: 0.7em;
  display: none;
}

#info{
  text-align: center;
  margin-block: 4em;
  opacity: 0.5;
  display: none;
}
.completedTask {
  text-decoration: line-through;
}
.todo-element span{
  flex-grow: 1;
  line-height: 2em;
  padding-inline-start: 0.5em;
}
.delete{
  background: #FFF;
  color: red;
  height: 32px;
  margin-left: 1em;
  border-width: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 3px rgba(128, 128, 128,0.3);
}


/*customize checkbox*/

/* .checkLabel{
  content: url("/images/check-box.png")
}

.checkLabel:has( .checkbox:checked) {
  content: url("/images/check-mark.png")
} */